body {
  background-color: #90b8f8;
  font-family: cursive;
  color: #000;
}
#heading {
  text-align: center;
}
#AddBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #90b8f8;
}
#inputfield,
#buttons {
  margin: 2px;
  padding: 10px;
}

#display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: 460px;
  margin: 0 -8px;
  padding-top: 25px;
  background-color: #26282b;
}

.button-style {
  background-color: #26282b;
  color: #97b5fa;
  width: 80px;
  height: 30px;
  font-weight: bold;
}

.book {
  display: block;
  text-align: center;
  margin: 8px;
  background-color: #5f85db;
  width: 190px;
  height: 180px;
  border-radius: 10%;
  box-shadow: 2px 2px white;
}

p {
  margin: 5px;
}

footer {
  font-size: small;
  text-align: center;
}
